/**
 * Styles for the Idea Feed template (idea-feed.html)
 */

.idea-feed{
	background-color: white;
}

// main content of idea feed
.idea-feed-container{

	position: relative;
	padding: rem-calc(35) rem-calc(41) 0;

	.idea-feed-header{
		color: $ppl-font-color-header;
		font-family: $font-family-roboto;
		font-weight: 400;
		font-size: rem-calc(30);
		margin-top: 0;
		margin-bottom: rem-calc(20);
	}

	// the list containing all of the idea directives
	.idea-list{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	// the form toggle for...
	// well .. mobile
	.mobile-form-toggle{
		position: fixed;
		border-radius: 100%;
		padding: 0;
		height: rem-calc(44);
		width: rem-calc(44);
		bottom: rem-calc(0);
		right: 4%;
		box-shadow: 0px 0px 4px $base;
		display: none;
		background-color: $ppl-orange;
		cursor: pointer;
		z-index: 3;
		i {
			@include single-transition();
		}
		&.toggle{
			background-color: $ppl-blue;
			i{
				display: inline-block;
				@include rotate(45deg);
			}
		}
	}
}

// mobile
@media (max-width: 500px) {
	
	.idea-feed{
		background-color: transparent;
	}

	.idea-feed-container{
		padding: 0 rem-calc(15) 0;


		.idea-feed-header{
			display: none;
		}

		.idea-list > li:first-child .idea-item{
			margin-top: 0;
		}

		.mobile-form-toggle{
			display: block;
			z-index: 1001;
		}
	}
}